.section_form {
  background: url("../img/Map-Image@1X.png") bottom right no-repeat;
  background-color: #222;
  padding-top: 80px;
}

.section_form__headline {
  font-size: 40px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  margin: 0 auto 20px;
  color: #fff;
  text-transform: uppercase;
}
.section_form__text {
  font-size: 16px;
  color: rgb(119, 119, 119);
  font-family: "Roboto Slab", serif;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
.form {
  flex-wrap: wrap;
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.input_wrapper {
  display: inline-block;
  width: 455px;
  height: 210px;
}
.input {
  width: 455px;
  height: 50px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  font-size: 14px;
  text-align: left;
  border: none;
  border-radius: 4px;
}
.textarea {
  width: 455px;
  height: 210px;
  padding: 20px;
  background-color: #fff;
  color: black;
  border-radius: 4px;
  font-size: 14px;
  text-align: left;
}
.textarea,
.input:focus {
  border: none;
  outline: none;
}
.textarea::placeholder {
  text-align: left;
  font-size: 14px;
  color: #bbbbbb;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.input::placeholder {
  text-align: left;
  font-size: 14px;
  color: #bbbbbb;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.form__button {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff;
  background-color: #fed136;
  border: none;
  padding: 25px 47px;
  margin: 30px auto 115px;
}
/* .form__text_wrapper{
  margin-bottom: 30px;
} */
