body{
  margin: 0;
  box-sizing: border-box;
  font-size: 0;
}

.list {
  display: block;
  margin: 77px auto 100px auto;
  text-align: center;
}
.lifestyle {
  margin-right: 120px;
}
.photodiary {
  margin-right: 100px;
}
.music {
  margin-right: 90px;
}

.list__item {
  display: inline-block;
}
.list__link:hover{
  color:#03a9f4;
}
.list__link {
  font-size: 14px;
  text-decoration: none;
}
.section {
  margin-left: 150px;
  width: 420px;
  display: inline-block;
}
.right{
  margin-left: 60px;
}
.second{
  margin-top: 130px;
}
.third{
  margin-top: 140px;
}
.section__caption {
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 25px;
  color: rgb(180, 173, 158);
  font-size: 14px;
 }
.section__title {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 30px;
  color: rgb(98, 98, 98);
}
.section__text {
  margin: 0;
  font-size: 14px;
  color: rgb(98, 98, 98);
  line-height: 1.714;
}
.button {
  display: block;
  margin: 54px auto 70px auto;
  font-size: 20px;
  width: 165px;
  height: 60px;
  color: #626262;
  background-color: #fff;
  border: 1px solid #626262;
}

