@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
}

.list {
  display: block;
  padding: 0;
  margin: 77px auto 100px auto;
  text-align: center;
}
.lifestyle {
  margin-right: 120px;
}
.photodiary {
  margin-right: 100px;
}
.music {
  margin-right: 90px;
}

.list__item {
  display: inline-block;
}
.list__link:hover {
  color: #03a9f4;
}
.list__link {
  cursor: pointer;
  text-transform: uppercase;
  color: #626262;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}
main {
  text-align: center;
}
.section {
  text-align: left;
  width: 420px;
  display: inline-block;
  margin-right: 60px;
}
.section:nth-child(2n + 2) {
  margin: 0;
}

.second {
  margin-top: 120px;
}
.third {
  margin-top: 135px;
}
.section__caption {
  display: inline-block;
  margin-top: 32px;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 25px;
  color: rgb(180, 173, 158);
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.section__title {
  font-family: "Playfair Display", serif;
  margin-top: 0px;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 30px;
  color: rgb(98, 98, 98);
}
.section__text {
  font-family: "Playfair Display", serif;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: rgb(98, 98, 98);
  line-height: 1.714;
}
.button {
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  display: block;
  margin: 54px auto 70px auto;
  font-size: 20px;
  width: 165px;
  height: 60px;
  color: #626262;
  background-color: #fff;
  border: 1px solid #626262;
}
.button:hover {
  background-color: #03a9f4;
}
