@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

.header {
  display: flex;
  justify-content: center;
  color: #fff;
  height: 75px;
  position: relative
}
.menu_wrapper {
  position: fixed;
  background-color: #fff;
  z-index: 2;
  align-items: center;
  height: 75px;
  display: flex;
  justify-content: space-between;
  width: 1222px;
}

.logo__link {
  font-size: 30px;
  color: #95e1d3;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.menu {
  width: 490px;
}
.menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_list__item {
  position: relative;
}

.menu_list__link {
  position: relative;
  cursor: pointer;
  z-index: 4;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #9ce3d6;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}
.menu_list__link:hover {
  transition: 400ms linear;
  color: #f38181;
  border-bottom: 3px solid #f38181;
}
.menu_list__list {
  display: none;
  background-color: #fff;
  position: absolute;
}

.list_part__item {
  display: block;
  margin-top: 7px;
  z-index: 3;
  font-size: 12px;
  color: #9ce3d6;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.menu_list__item:hover > .menu_list__list {
  transition: 200ms linear;
  display: block;
}
.list_part__item:hover {
  transition: 200ms linear;
  color: #f38181;
  border-bottom: 2px solid #f38181;
}
