.container__headline {
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-family: "Montserrat", sans-serif;
}
.container__text {
  width: 280px;
  font-size: 15px;
  color: #b3b3b3;
  font-family: "Roboto", sans-serif;
}
.section__text {
  margin: -20px auto 90px;
  width: 940px;
  font-weight: 400;
  font-size: 15px;
  color: #b3b3b3;
  font-family: "Roboto", sans-serif;
}
.wrapper__headline {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.wrapper__caption {
  font-style: italic;
  padding-bottom: 80px;
  font-weight: 300;
  font-size: 15px;
  color: #b3b3b3;
  font-family: "Roboto", sans-serif;
}
.section__team {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.card__wrapper {
  width: 380px;
  text-align: center;
}

.image-icon_wrapper {
  position: relative;
  width: 380px;
  height: 470px;
  overflow: hidden;
}

.icons_wrapper {
  top: 250%;
  left: 250%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 227px;
  display: flex;
  flex-wrap: nowrap;
}
.icons_link {
  display: flex;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  justify-content: center;
  align-items: center;
  margin-right: 1px;
}
.icons_link:last-child {
  margin-right: 0;
}

.image-icon_wrapper:hover > .icons_wrapper {
  transition: 400ms linear;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icons_link:hover {
  transition: 400ms linear;
  background-color: #95e1d3;
}
.image-icon_wrapper::before {
  content: "";
  display: block;
  height: 760px;
  width: 940px;
  position: absolute;
  background: linear-gradient(
    rgba(243, 129, 129, 0.9),
    rgba(255, 219, 89, 0.8));
  top: 250%;
  left: 250%;
}
.image-icon_wrapper:hover::before {
  transition: 400ms linear;
  content: "";
  display: block;
  height: 760px;
  width: 940px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    rgba(243, 129, 129, 0.9),
    rgba(255, 219, 89, 0.8)
  );
}
.image-icon_wrapper:hover {
  transition: 400ms linear;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
 transform: translate(-10px, -10px);
}
