@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
main {
  width: 1200px;
  margin: auto;
  text-align: center;
}
.section {
  width: 1200px;
}
.section:first-child {
  padding-top: 105px;
}
.headline_h2 {
  margin-bottom: 20px;
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  font-family: "Kaushan Script", cursive;
}
.headline_h3 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 30px;
}

.headline_h3::after {
  content: "";
  display: block;
  margin: 40px auto 65px;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}
.section__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container:nth-child(n + 4) {
  margin-bottom: -10px;
}

.container__content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 60px;
  width: 350px;
  margin-bottom: 100px;
  text-align: left;
}
.alarm::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url(../icons/ALARM@1X.png);
  display: block;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
}
.graph::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url(../icons/LINE_GRAPH@1X.png);
  display: block;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
}
.computer::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url(../icons/COMPUTER_OK@1X.png);
  display: block;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
}
.book::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url(../icons/BOOK_2@1X.png);
  display: block;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
}
.home::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url(../icons/HOME@1X.png);
  display: block;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
}
.image::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url(../icons/IMAGE@1X.png);
  display: block;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
}
